body {
	margin: 0;
	padding: 0;
	font-family: lato;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #e5e5e5;
}
.section {
	background-color: #ffffff;
	text-align: center;
	box-shadow: 0px 7.52055px 16.7123px rgba(171, 180, 189, 0.23);
	border-radius: 10px;
	padding: 50px;
}
.logo {
	width: 99px;
}
.login_text {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	text-align: center;

	color: #1d2029;
}
.login_text_instruction {
	font-size: 18px;
	text-align: center;

	color: #abb4bd;
}

.login_buttons {
	display: flex;
	justify-content: center;
}
.facebook_login,
.google_login {
	width: 200px;
	height: 50px;
	background: #ffffff;
	border: 1px solid rgba(171, 180, 189, 0.345873);
	box-shadow: 0px 10px 20px rgba(171, 180, 189, 0.211617);
	border-radius: 4px;
	margin: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.facebook_login > img,
.google_login > img {
	margin-right: 10px;
}

.facebook_login:hover,
.google_login:hover {
	border: 2px solid #0769c3;
}

.privacy_policy {
	font-size: 14px;
	line-height: 31px;
	color: #abb4bd;
}
.policy {
	color: #0769c3;
}
.policy a {
	text-decoration: none;
}
.policy a:visited {
	color: #0769c3;
}

@media (max-width: 638px) {
	.section {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		padding: 0;
		border-radius: 0;
	}

	.logo {
		margin: 30px auto;
	}

	.login_buttons {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.google_login,
	.facebook_login {
		margin: 0.5rem;
		align-self: center;
		width: 80%;
	}
}
