body{
    margin: 0;
    padding: 0;
    background: #F2F2F2;
    box-sizing: border-box;
    font-family: content;
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 500px;
    margin: 0;
    padding: 0;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 7.52055px 16.7123px rgba(171, 180, 189, 0.23);
}
.home-logo {
    display: block;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
}
h3{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}
p{
    text-align: center;
    color: #ABB4BD;
    font-size: 18px;
}
.social-links {
    margin-top: 30px;
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.social-links a {
    display: inline-block;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px 50px;
    border: 1px solid rgba(171, 180, 189, 0.345873);
    box-shadow: 0px 10px 20px rgba(171, 180, 189, 0.211617);
    text-decoration: none;
    color: black;
}
.social-icon {
    margin-right: 10px;
}

.conditions {
    font-size: 14px;
    line-height: 31px;
}
.conditions a {
    text-decoration: none;
    color: #0769C3;
}